body {
    font-family: sans-serif;
}
nav a {
    background-color:blackblue;
    color:#FF0000;
    text-decoration:none;
    padding:10px;
    }
    header a {
    background-color:blackblue;
    color:#FF0000;
    text-decoration:none;
    padding:10px; 
    }
    header {
        border-radius:20px; 
        background-color: blue;
        padding:10px;
        }
